<tr
  id="<%= dom_id(book) %>"
  class="
    bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50
    dark:hover:bg-gray-600
  "
>
  <td class="px-6 py-4 whitespace-nowrap dark:text-white">
    <%= book.id %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap dark:text-white">
    <%= book.title %>
  </td>

  <td class="px-6 py-4 whitespace-nowrap dark:text-white">
    <%= book.isbn %>
  </td>

  <td class="px-6 py-4 whitespace-nowrap dark:text-white">
    <%= book.year_published %>
  </td>

  <td class="px-6 py-4 whitespace-nowrap dark:text-white">
    <%= book.price %>
  </td>

  <td class="px-6 py-4 whitespace-nowrap dark:text-white">
    <%= link_to book.author, [:authors, q: { name_or_id_text_cont: book.author_id }] %>
  </td>

  <td class="px-6 py-4 whitespace-nowrap dark:text-white">
    <%= bool_icon(book.available) %>
  </td>

  <td class="flex items-center px-6 py-4">
    <%= link_to hicon("pencil-square"),
    [:edit, book],
    title: t("edit"),
    data: {
      turbo_frame: dom_id(Book.new),
    },
    class: "font-medium text-blue-600 dark:text-blue-500 hover:underline ms-3" %>

    <%= link_to hicon("trash"),
    [book],
    title: t("remove"),
    data: {
      turbo_confirm: t("confirm"),
      turbo_method: :delete,
    },
    class: "font-medium text-red-600 dark:text-red-500 hover:underline ms-3" %>
  </td>
</tr>
