<%= simple_form_for [book] do |f| %>
  <div class="flex space-x-5">
    <div class="flex-1">
      <%= f.input :title, as: :string, input_html: { autocomplete: "off" } %>
    </div>
    <div class="flex-1">
      <%= f.input :isbn, input_html: { autocomplete: "off" } %>
    </div>

    <div class="flex-1">
      <%= f.input :year_published,
              collection: (1..Date.current.year).to_a.reverse,
              input_html: {
                autocomplete: "off",
              },
              prompt: false %>
    </div>

    <div class="flex-1">
      <%= f.input :price, as: :numeric, input_html: { autocomplete: "off" } %>
    </div>

    <div class="flex-1">
      <%= f.input :author_id,
              collection: Author.order(:name),
              input_html: {
                autocomplete: "off",
              } %>
    </div>

    <div class="flex-1 mt-5">
      <%= f.input :available, as: :boolean %>
    </div>

    <div class="flex-1 flex">
      <div class="flex items-center">
        <%= f.button :button, data: { turbo_submits_with: 'Saving...'} do %>
          Save
        <% end %>

        <%= link_to "Cancel",
        "",
        class:
          "ms-2 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" %>
      </div>
    </div>
  </div>
<% end %>
