<%= content_for :title, Book.model_name.human(count: 2) %>

<div class="flex mb-4">
  <div class="justify-end">
    <%= link_to "Generate", [:new, :book], data: { turbo_frame: dom_id(Book.new), action: 'dialog#open' }, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  </div>
</div>

<table
  class="
    w-full text-sm text-left rtl:text-right confirm_removetext-gray-500
    dark:text-gray-400 shadow
  "
>
  <thead
    class="
      text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400
    "
  >
    <tr>
      <th scope="col" class="px-6 py-3">
        <%= sort_link @q, :title, Book.human_attribute_name(:title) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= sort_link @q, :isbn, Book.human_attribute_name(:isbn) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= sort_link @q, :year_published, Book.human_attribute_name(:year_published) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= sort_link @q, :price, Book.human_attribute_name(:price) %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= Author.model_name.human %>
      </th>
      <th scope="col" class="px-6 py-3">
        <%= sort_link @q, :available, Book.human_attribute_name(:available) %>
      </th>

      <th scope="col" class="px-6 py-3">
        <%= t("action") %>
      </th>
    </tr>
  </thead>
  <tbody id='table'>
    <%= render @books %>
  </tbody>

  <% if @books.blank? %>
    <tfoot>
      <tr>
        <td colspan="99" class="px-6 py-4 whitespace-nowrap dark:text-white">
          <em><%= t("not_found_result") %></em>
        </td>
      </tr>
    </tfoot>
  <% end %>

</table>
<div class="flex justify-center mt-4">
  <%== pagy_nav(@pagy) %>
</div>
